Device with Symantec Endpoint Protection requires migration to Crowdstrike

Thank you for all your efforts so far in transitioning endpoint protection on
your departmental resources.

As the current licenses are expired and won’t receive updates, the machine on
this list will be considered to be out of compliance with endpoint standards
which may result in the machines being quarantined from the Duke Network. OIT
is also happy to use central management tools (for machines which are enrolled)
to remove Symantec and install CrowdStrike for those departments that wish to
take this step. Please note that there are two tabs in the attached workbook,
one for machines that need to have SEM uninstalled and one for machines that
need CrowdStrike installed.

There are a number of machines that still need to have Duke licensed Symantec
Endpoint Protection(SEP) uninstalled and, for Duke-owned machines, CrowdStrike
installed.  Attached are a list of computers that we believe are under your
purview which require action.

To help ensure removal of Symantec clients before all licensed updates cease,
OIT can help in any of these three ways:

  • Centrally uninstall SEM and install CrowdStrike.
  • Centrally uninstall SEM.
  • Centrally install CrowdStrike.

This process will only apply to machines that are enrolled in one of the
primary Duke endpoint management suites; Bigfix, Casper, or SCCM. Some of the
machines in this list are NOT currently utilizing endpoint management, and
these machines will have to be individually dealt with by local IT staff. Thank
you for your continued support in this process, and please reach out to Jesse
Bowling (jesse.bowling[AT]duke.edu) with questions or if we can be of
assistance.

Host: {{ mac_address }}, {{ planisphere_device['oses'][0]['hostname'] }}

