Unpatched Windows computer(s) to be blocked from network - ({{ target }} - {{ planisphere_device['oses'][0]['hostname'] }})

The following host is missing critical updates:

Computer Name: {{ planisphere_device['oses'][0]['hostname'] }}
AdminUnit: {{ planisphere_device['support_group']['name'] }}
{% if 'user' in planisphere_device -%}
User Name: {{ planisphere_device['user']['netid'] }}
{% endif -%}
{% if ipaddress -%}
IP Address: {{ ipaddress }}
{% endif -%}
Ethernet Address: {{ mac_address }}
OS: {{ planisphere_device['oses'][0]['os_fullname'] }}
Planisphere Last Active Time: {{ planisphere_device['last_active'] }}

The host will be placed into network quarantine on {{ due.strftime('%m/%d/%Y')}} unless all
available patches are installed before that time. Please install all updates,
restart machine after updates are installed, and check to see if more updates
need to be installed, then repeat until all updates are verified to be
completed.

Please respond to indicate that you have received this message and are aware
of the potential consequences of inaction. Thank you.
